body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
@font-face {
  font-family: 'Cabin Sketch', cursive;
  src: url('../src/assets/fonts/CabinSketch-Regular.ttf');
} */

/* .title {
  font-family: 'Cabin Sketch', cursive;
} */